<app-filter-component (statusSelected)="handleStatusSelected($event)"></app-filter-component>
<div *ngFor="let task of filtredTasks" class="task-item">
    <div class="task-name">{{ task.title }}</div>
    <div class="task-description">{{ task.description }}</div>
    <div class="task-assignedTo">{{ task.assignedTo }}</div>
    
    <div class="task-actions">
        <button mat-icon-button color="primary" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTask(task)">
          <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>